<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Provedor de Hospedagem com Planos Incliveis">
    <link rel="shortcut icon" href="../img/logo-icone.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/estilotabela.css">
    <title>Alfatech</title>
</head>
<body>
    <header>
        <div class="top">
            <div class="logo">
                <img src="../img/logo-icone-escuro.png" alt="">
                <div class="titulomenu">
                    <h1>AlfaTech</h1>
                    <p>Soluções em hospedagem</p>
                </div>
            </div>
            <div class="menu">
                <a href="../index.html">HOME</a>
                <a href="#informacoes">INFORMAÇÕES</a>
                <a href="#planos">PLANOS</a>
                <a href="#contato">CONTATO</a>
            </div>
        </div>
    </header>

    <table class="tabela-precos">
        <thead>
            <th class="coluna-vazia"></th>
            <th>
                <p>PESSOAL</p>
                <h1>GRÁTIS</h1>
            </th>
            <th>
                <p>PROFISSIONAL</p>
                <h1>R$29</h1>
            </th>
            <th>
                <p>EMPRESARIAL</p>
                <h1>R$59</h1>
            </th>
            <th>
                <p>BIG TECHS</p>
                <h1>R$99</h1>
            </th>
        </thead>
        <tbody>
            <tr>
                <td class="firstcollun">MONITORAMENTO DE REDE</td>
                <td>3 REDES</td>
                <td>10 REDES</td>
                <td>20 REDES</td>
                <td>50 REDES</td>
            </tr>
            <tr>
                <td class="firstcollun">DASHBOARD</td>
                <td>1 DASHBOARD</td>
                <td>5 DASHBOARDS</td>
                <td>10 DASHBOARDS</td>
                <td>25 DASHBOARDS</td>
            </tr>
            <tr>
                <td class="firstcollun">USUÁRIOS</td>
                <td>1 USUÁRIOS</td>
                <td>5 USUÁRIOS</td>
                <td>10 USUÁRIOS</td>
                <td>25 USUÁRIOS</td>
            </tr>
            <tr>
                <td class="firstcollun">RELATÓRIO DE ATUALIZAÇÃO</td>
                <td>TODA HORA</td>
                <td>A CADA 30 MINUTOS</td>
                <td>QUASE EM TEMPO REAL</td>
                <td>TEMPO REAL*</td>
            </tr>
            <tr>
                <td class="firstcollun">RELATÓRIO DE EMAILS</td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
            </tr>
            <tr>
                <td class="firstcollun">TRANSAÇÕES ILIMITADAS</td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
            </tr>
            <tr>
                <td class="firstcollun">RASTREADOR DE PAGAMENTO</td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
            </tr>
            <tr>
                <td class="firstcollun">EXPORTAÇÃO DE DADOS</td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
            </tr>
            <tr>
                <td class="firstcollun">CONVERSOR DE MOEDA</td>
                <td></td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
            </tr>
            <tr>
                <td class="firstcollun">ACESSO A API</td>
                <td></td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
            </tr>
            <tr>
                <td class="firstcollun">RESTRIÇÃO DE IP</td>
                <td></td>
                <td></td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
            </tr>
            <tr>
                <td class="firstcollun">FEED PERSONALIZADO</td>
                <td></td>
                <td></td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
                <td class="celulabolinha"><p class="bolinha"></p></td>
            </tr>
            <tr>
                <td class="firstcollun">LIMITE DE IMPORTAÇÃO DE DADOS</td>
                <td>ÚLTIMO ANO</td>
                <td>ÚLTIMOS 2 ANOS</td>
                <td>ÚLTIMOS 3 ANOS</td>
                <td>ÚLTIMOS 3 ANOS</td>
            </tr>
            <tr>
                <td class="firstcollun">RETENÇÃO DE DADOS</td>
                <td>TEMPO DE VIDA</td>
                <td>TEMPO DE VIDA</td>
                <td>TEMPO DE VIDA</td>
                <td>TEMPO DE VIDA</td>
            </tr>
            <tr>
                <td class="firstcollun">SUPORTE</td>
                <td>E-MAIL</td>
                <td>EMAIL & CHAT</td>
                <td>EMAIL & CHAT</td>
                <td>EMAIL, CHAT & TELEFONE</td>
            </tr>
        </tbody>
    </table>


    <div class="rodape" id="contato">
        <div class="logo">
            <img src="../img/logo-icone-escuro.png" alt="">
            <div class="titulomenu">
                <h1>AlfaTech</h1>
                <p>Soluções em hospedagem</p>
            </div>
        </div>
        <div class="contatos">
            <p>© AlfaTech - Soluções em hospedagem - Todos os direitos reservados</p>
        </div>
    </div>
    <footer>
        <div class="autor">
            <p>Desenvolvido por <span>Rafael Gouveia</span></p>
        </div>
    </footer>
</body>
</html>